@import "./partials/reset";
@import "./partials/clearfix";
@import "./partials/general_styles";

a {
  color: #808080;
  text-decoration: none;
}

body {
  background-color: white;
  width: 100%;
}

h1{
  color: #808080;
  font-family: "arial", sans-serif;
  
}

.loginPage{
  padding-left: 3rem;
}

.createPage{
  padding-left: 3rem;
  padding-top: 2rem;
}


.newPhotoPage{
  padding-top: 2rem;
  padding-left: 3rem;
}


#mainContainer{
  margin: auto;
  justify-content: center;

.photoArea{
width: 100%;
box-sizing: border-box;


}
    img{
      margin: auto;
      width: 100%;

    }

 .photoArea:nth-child(n+2){
  width: 100%;
  padding: 1rem 7rem 2rem 7rem;
  @include respond-to('large'){
  width: 33%;
  height: 20rem;

  img{
  height: 15rem;
    
  }
  padding: 10px;
  display: inline-block;
  }
  .textArea{
    display: initial;
  }
}
  .photoArea:first-child{
  margin: auto;
  width: 100%;
 padding: 1rem 5rem 2rem 5rem;

  h2 {
    display: none;
  }
  p {
    display: none;
  }
  @include respond-to('large'){
    width: 100%;
    margin: auto;
    flex-flow: nowrap;
  }
}



}

header{
  .title{
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  margin: 50px auto 0 auto;
  font-family: "arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  height: relative;

  @include respond-to('large'){
  border-top: dotted 1px  #c0c0c0;

  h1{
    font-size: 50px;
     font-weight: bold;
     display: inline-block;
    color: #808080;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "arial", sans-serif;

  }

  }

}
.mainTitle{
  padding-left: 14rem;
  padding-bottom: 2rem;

  @include respond-to('large'){

  padding-left: 0rem;
  padding-bottom: 0rem;
  width: calc(68% - 10px);
  flex-grow: 1;
   border-right: dotted 1px #c0c0c0;
 
  }

}

.buttonsArea{
  padding-left: 5rem;
  padding-top: 2rem;
  color: #c0c0c0;

}





.sideTitle{
  display: none;

  @include respond-to('large'){  
  font-size: 12px;
  text-align: left;
  width: 30%;
  color:  #c0c0c0;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: lighter;
  font-size: 12px;
  display: inline-block;
  }
 
}

}

.textArea{
  font-size: 12px;
  color: #c0c0c0;
}

.single-main-container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;


.sideBar{
  display: none;

  @include respond-to('large'){
    display: initial;
    width: 40%;
    padding-top: 1rem;

  }
}

.single-detail{
  padding-left: 6rem;
  padding-right: 6rem;
  h2{
    color: #808080;
    font-family: "arial", sans-serif;
    font-size: 13px;

  }


  @include respond-to('large'){
    padding-right: 0rem;
    padding-left: 2rem;
    padding-top: 1rem;
    height: 100%;
    width: 58%;
    box-sizing: border-box;
    // border-style: solid;
    // border-width: 5px;
    // border-color: green;
    

  }
}
  .singlePhoto{
    width: 100%;

    @include respond-to('large'){
      width: 100%;
      height: 25rem;
      
    }
    }

.detail-text{
    color: #c0c0c0;
    font-family: "arial", sans-serif;
    font-size: 14px;
  @include respond-to('large'){
    width: 100%;

  }
}



.sidebarPhoto-area{
  display: none;

  @include respond-to('large'){
      display: initial;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      height: 15rem;
      padding-left: 5rem;
      padding-top: 3rem;
    // border-style: solid;
    // border-width: 5px;
    // border-color: pink;
  }
}
}

.sidePhoto{
    display: none;
  @include respond-to('large'){
      display: initial;

      width: 55%;
      height: calc(100% - 3rem);
      
        }

       }

  .textArea{
    display: none;
    @include respond-to('large'){
      display: initial;
      width: 100%;

    }



  }










