<form method = "POST" action="/gallery/{{id}}/edit?_method=PUT">

<img src="{{photoList.link}}" class= "photo"><br>  

Author: <input type="text" name="author"><br><br>
Description: <input type="textarea" name ="description"><br><br>

<input type="submit" value= "Submit">




</form>