
<div class="editPage">
  
<form method = "POST" action="/gallery/{{id}}/edit?_method=PUT">

<div class="editPhotoArea">
<img src="{{photoList.link}}" class= "editPhoto">  
</div><br>

Author: <input type="text" value="{{photoList.author}}" name="author"><br><br>
Description: <input type="textarea" value="{{photoList.description}}" name ="description"><br><br>


<input type="submit" value= "Submit">

</form>
</div>