<div class= "newPhotoPage">
<h1>Post A New Photo</h1><br>
<form action="/gallery" method = "POST">
  Link: <input type="text" name = "link"><br><br>
  Author: <input type="text" name= "author"><br><br>
  Description <input type="textarea" name= "description"><br><br>
  <input type="submit" value="submit">
</form>
</div>