<div class="createPage">
<h1>Sign Up</h1><br>
    
<form action="/create" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div><br>

    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div><br>
    <div>
        <input type="submit" value="Create User"/>
    </div>
</form>
</div>