

<div id="mainContainer">
  
{{#each photoList}}
<div class = "photoArea">
<a href="/gallery/{{id}}"> 
<img src="{{link}}" class="photo">
</a>

<div class ="textArea">
  <h2>{{author}}</h2>
  <p>{{link}}</p>
</div>
</div>
{{/each}}
  
</div>