<h1>_ARCHITEKT</h1>

{{#each photoList}}
<div class = "photoArea">
<a href="/gallery/{{id}}"></a>
<img src="{{link}}" class="photo">
  <h2>Author: {{author}}</h2>
  <h2>Description: {{description}}</h2>
</div>
{{/each}}