/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
a {
  color: #808080;
  text-decoration: none; }

body {
  background-color: white; }

#mainContainer {
  margin: auto;
  justify-content: center; }
  #mainContainer .photoArea {
    width: 100%;
    box-sizing: border-box; }
  #mainContainer img {
    margin: auto;
    width: 100%; }
  #mainContainer .photoArea:nth-child(n+2) {
    width: 100%;
    padding: 1rem 7rem 2rem 7rem; }
    @media (min-width: 800px) {
      #mainContainer .photoArea:nth-child(n+2) {
        width: 33%;
        height: 20rem;
        padding: 10px;
        display: inline-block; }
        #mainContainer .photoArea:nth-child(n+2) img {
          height: 15rem; } }
  #mainContainer .photoArea:first-child {
    margin: auto;
    width: 100%;
    padding: 1rem 5rem 2rem 5rem; }
    #mainContainer .photoArea:first-child h2 {
      display: none; }
    #mainContainer .photoArea:first-child p {
      display: none; }
    @media (min-width: 800px) {
      #mainContainer .photoArea:first-child {
        width: 100%;
        margin: auto;
        flex-flow: nowrap; } }

header .title {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  margin: 50px auto 0 auto;
  font-family: "arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  height: relative; }
  @media (min-width: 800px) {
    header .title {
      border-top: dotted 1px  #c0c0c0; }
      header .title h1 {
        font-size: 50px;
        font-weight: bold;
        display: inline-block;
        color: #808080;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: "arial", sans-serif; } }

header .mainTitle {
  padding-left: 10rem;
  padding-bottom: 2rem; }
  @media (min-width: 800px) {
    header .mainTitle {
      padding-left: 0rem;
      padding-bottom: 0rem;
      width: calc(68% - 10px);
      flex-grow: 1;
      border-right: dotted 1px #c0c0c0; } }

header .sideTitle {
  display: none; }
  @media (min-width: 800px) {
    header .sideTitle {
      font-size: 12px;
      text-align: left;
      width: 30%;
      color: #c0c0c0;
      padding-top: 10px;
      padding-left: 10px;
      font-weight: lighter;
      font-size: 12px;
      display: inline-block; } }

.textArea {
  font-size: 12px;
  color: #c0c0c0; }

.single-main-container {
  display: flex;
  flex-flow: row wrap; }
  .single-main-container .all-single-photos {
    width: 49%; }
    @media (min-width: 800px) {
      .single-main-container .all-single-photos {
        flex-flow: row wrap;
        display: inline-block; } }
  .single-main-container .singlePhoto {
    width: 100%; }
    @media (min-width: 800px) {
      .single-main-container .singlePhoto {
        padding-left: 1rem; } }
  .single-main-container .single-photoArea {
    width: 49%;
    display: none;
    padding: 1rem 7rem 2rem 7rem; }
    .single-main-container .single-photoArea img {
      height: 15rem;
      width: 100%; }
    @media (min-width: 800px) {
      .single-main-container .single-photoArea {
        flex-flow: row wrap;
        display: inline-block; } }
